<h1>Edit</h1>

<form action="/recipes/<%= @recipe.id %>" method="POST">  <input id="hidden" type="hidden" name="_method" value="patch"
  <p>
    <%= @recipe.name %>
  </p>

  <p>
    Name: <input type="text" name="name"/>
  </p>

  <p>
    Ingredients: <input type="text" name="ingredients"/>
  </p>

  <p>
    Cook Time: <input type="text" name="cook_time"/>
  </p>

  <input type="submit" value="Edit">

</form>
